mclinica-analytics-bq:
  target: dev
  outputs:
    dev:
      type: bigquery
      method: service-account
      project: <project-name>
      dataset: <dataset-name>
      threads: 4
      timeout_seconds: 300
      location: asia-southeast1
      priority: interactive
      retries: 5
      keyfile: <keyfile-location>
